<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações da Conexão -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/db_academiavit</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>

		<!-- Pool de conexão do JDBC -->
		<property name="connection.pool_size">1</property>

		<!-- SQL Dialeto está em 3.4.1 -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

		<!-- Gerenciamento da sessão -->
		<property name="current_session_context_class">thread</property>

		<!-- Disabilita a cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Exibie comandos SQL -->
		<property name="show_sql">true</property>

		<!-- Cria tabelas -->
		<property name="hbm2ddl.auto">update</property>

	</session-factory>

</hibernate-configuration>
